body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App */
.app {
  height: 100%;
}

/* Text */
.my-hint-text {
  padding: 0 0 5px 8px;
  border-bottom: 2px #e82903 dashed;
  margin-right: 10px;
}

/* Sidebar */
.sidebar-col {
  padding: 0 !important;
  border-right: 1px #eceaea solid;
}

.sidebar-container {
  height: 800px;
  background: #fff;
}

/* Dropdown */
.my-dropdown-menu {
  height: 300px;
  width: 500px;
  overflow-y: scroll;
  text-align: center;
}

.my-dropdown-item:hover {
  background: rgba(232, 41, 3, 0.1);
}

.my-dropdown-item a {
  text-decoration: none !important;
}

/* Table */
.my-table-container {
  height: 400px;
  overflow-y: scroll;
  white-space: nowrap;
}

/* Link */
.my-link-style {
  color: #e82903;
}

.my-link-style:hover {
  color: #e82903;
  text-decoration: none;
  cursor: pointer;
}

/* Input */
.my-input:focus {
  border: 1px #e82903 solid !important;
}

.my-input:hover {
  border: 1px #e82903 solid !important;
}

/* Bread Link */
.my-bread {
}

.my-bread-link {
  color: #808186;
}

.my-bread-link:hover {
  text-decoration: none;
  color: #e82903;
}

.my-forward-slash {
  margin: 0 10px;
}

.my-bread-text {
  font-weight: bold;
}

/* Container */
.my-container {
  width: 95%;
  margin: 0 auto;
}

/* Card */
.my-card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #e9e7e7;
}

.my-card-title {
  padding: 20px;
}

.my-card-body {
  padding: 20px 15%;
}

/* List */
.my-list-title {
  font-weight: bold;
  margin-right: 10px;
}
